html {
    background-color: #eff0f2;
}

h1 {
    color: royalblue;
}

#gameInfo {
    background-color: #dae0ea;
    width: 98%;
    height: auto;
    box-shadow: 1px 1px 3px gray;
    border-radius: 7px;
    padding: 0.5em;
    margin: 1em auto;
}

#title {
    margin: 0px;
    color: dodgerblue;
}

#gameImg {
    height: 100px;
    margin: 5px 0px;
}

#link {
    color: blue;
    text-decoration: none;
    background-color: lightsteelblue;
    padding: 0.25em;
    position: relative;
    margin: 0.5em 0 0.25em;
    border-radius: 5px;
    box-shadow: 1px 1px 2px gray;
    display: inline-block;
}

#link:hover {
    background-color: #9db3db;
    transition: 0.3s;
}

#link:active {
    color: darkblue;
    box-shadow: inset 1px 1px 3px gray;
}